@font-face {
	font-family: Circular;
	src: url('lib/fonts/Circular-Std-Black.ttf');
	descent-override: 0%;
	ascent-override: 72%;
	line-gap-override: 3%;
}

@font-face {
	font-family: CircularLight;
	src: url('lib/fonts/CircularStd-Light.otf');
	descent-override: 0%;
	ascent-override: 72%;
	line-gap-override: 3%;
}

@font-face {
	font-family: CircularMedium;
	src: url('lib/fonts/CircularStd-Medium.otf');
	descent-override: 0%;
	ascent-override: 72%;
	line-gap-override: 3%;
}

:root {
	--night: #131515;
	--jet: #2b2c28;
	--persian-green: #339989;
	--snow: #f0f3f5;
	--snow-style: #e6e5e5;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

html {
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: subpixel-antialiased;
}

.circular-black {
	font-family: 'Circular', sans-serif;
}

.circular-light {
	font-family: 'CircularLight', sans-serif;
}

.dm-sans-body {
	font-family: 'DM Sans', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: normal;
}

.dm-sans-bold {
	font-family: 'DM Sans', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: bold;
}

.lexend-deca-body {
	font-family: 'Lexend Deca', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: normal;
}

.lexend-deca-header {
	font-family: 'Lexend Deca', sans-serif;
	font-optical-sizing: auto;
	font-weight: bold;
	font-style: normal;
	color: var(--persian-green);
	font-size: 3em;
}

.fira-sans-bold {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 700;
	font-style: normal;
	color: var(--night);
}

a {
	color: var(--snow);
	text-decoration: none;
}

body {
	background: var(--night);
	color: var(--snow);
	scroll-behavior: smooth;
	margin: 0;
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom)
		env(safe-area-inset-left);
	overflow-x: hidden;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.underline::after {
	content: '';
	display: block;
	height: 2px;
	background-color: var(--persian-green);
	position: relative;
	transition: all ease-in-out 600ms;
	width: 0;
}

@media (hover: hover) {
	.underline:hover::after {
		width: 100%;
	}
}
